__pycache__
.idea
.vscode
logs
venv
.env
.env*
.git
.github/*
chromedriver.exe
LICENSE.chromedriver
# valores opcionales de prueba
test.py
Dockerfile
Dockerfile.*
requirements2.txt
docker-compose.yml
compose.yml