__pycache__
.idea
.vscode
logs/
**/*.log
.venv/
venv/
.env
.env*
.*.env
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.reports/

requirements2.txt
coverage.xml

# chromedriver.exe
# LICENSE.chromedriver
