beautifulsoup4==4.11.2
pytest-playwright
pytest-xdist
./python-client-generated/
typer
rich
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
mangum
boto3
awslambdaric

isort
tox
pytest
pytest-cov
flake8
flake8-docstrings
mypy
types-beautifulsoup4