__pycache__
logs
venv
.idea
.vscode
.env
.env*
.env.*
.git
.github
.github*
.github/*
.gitignore
.dockerignore
chromedriver-win64/
chromedriver-win64/*
chromedriver.exe
LICENSE.chromedriver
test.py
Dockerfile
Dockerfile*
Dockerfile.*
requirements2.txt
docker-compose.yml
compose.yml
sonar-project.properties
tests/*
**/*.log
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
.tox/
.reports/
**/__pycache__/
**/logs/
**/log/
**/.pytest_cache/
**/__pycache__/**
**/logs/**
**/__pycache__
**/logs